<h1>Yes, it has pockets!</h1>
<h2>Pockets.For.Everybody.</h2>
<body>
    <form action="/" method="post">
    	<div class="form-group">
    		<p><label for="formGroupExampleInput">What piece of clothing do you need?</label></p>
  			<input type='text' class="form-control" name='letter' id="formGroupExampleInput" placeholder="Skirt" value="<%= @letter %>" />
  			<input type='submit'>
  		</div>
	</form>
</body>