/* color scheme: #AEB4A9, E0C1B3, D89A9E, C37D92, 846267;
*/

body {
  background-color: #AEB4A9;
  font-size: 30px;
  font-family: "Courier New";
  text-align: center;
}

h1 {
	color: #846267;
}

h2 {
	color: #846267;
}
